<h1> Edit a recipe</h1>

<form method="POST" action="/recipes/<%= @recipe.id %>">
<input type="hidden" name="_method" value="PATCH">
Name: <input type="text" name="name" value="<%= @recipe.name %>"> <br>
Ingredients <input type="text" name="ingredients" value="<%= @recipe.ingredients %>"> <br>
Cook time: <input type="text" name="cook_time" value="<%= @recipe.cook_time %>"> <br>
<input type="submit" value="Edit Recipe">
</form>