<h1> Add a new recipe</h1>

<form method="POST" action="/recipes">
Name: <input type="text" name="name"> <br>
Ingredients <input type="text" name="ingredients"> <br>
Cook time: <input type="text" name="cook_time"> <br>
<input type="submit" value="Add New Recipe">
</form>